@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
* {
  margin: 0px;
  padding: 0px;
}

.conteiner {
  display: flex;
  background-image: url("../../images/font.gif");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.landingConteiner {
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.textConteiner {
  margin: 1.2rem;
}
.landingText {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 1.2rem;

  text-align: center;
  flex-wrap: wrap;
  height: 20px;
  color: white;
}

/*** ESTILOS BOTÓN GROW BOX ***/
.ov-btn-grow-box {
  cursor: pointer;

  width: 100%;
  height: 90%;
  font-family: "Montserrat", sans-serif;
  background: #1f9260; /* color de fondo */
  color: white; /* color de fuente */
  border: 2px solid #463e21; /* tamaño y color de borde */
  padding: 10px 10px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  animation: scale-up-center 2.5s;
}

.ov-btn-grow-box:hover {
  color: white; /* color de fuente hover */
  border: 1px solid white;
}
.ov-btn-grow-box::after {
  content: "";
  background: #2263d6; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.ov-btn-grow-box:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

/* @keyframes scale-up-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
} */

@media (max-width: 1555px) {
  .landingConteiner {
    margin-top: 10%;
  }
}

@media (max-width: 1167px) {
  .landingConteiner {
    margin: auto;
    margin-top: 20%;
  }
}
@media (max-width: 239px) {
  .landingConteiner {
    margin: auto;
    padding-top: 10px;
    margin-top: 20%;
  }
  .landingText {
    overflow: hidden;
    font-size: 15px;
  }
}
