.paginadoButton{
background-color: brown;
color: black;

}
.pagination{
display:flex;
flex-direction:row;
justify-content:center;
flex-wrap: wrap;
align-items: center;
margin: 1rem;
}   

.list{
    list-style: none;
    display: block;
}

.buttons{

    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin: 1em;
    border-radius: 20%;
    background: black;
    color:white;
    max-width: auto;
    border: 1px solid white;
    min-width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
        box-shadow: 0 2px 8px -1px white;
    animation: showText 1s 1s linear forwards;
    transition: all 0.5s ease;
}

.buttons:hover {
    background-color: white;
    color: black;
   
    border: 1px solid black;
    font-size:0.4em;

  }


  @media (max-width:432px) {
    

        .buttons{

            font-family: 'Montserrat', sans-serif;
            font-size: 0.8em;
            margin: 0.3em;
            border-radius: 20%;
            background: black;
            color:white;
            max-width: auto;
            border: 1px solid white;
            min-width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0 6px;
            
        }
        
  }