.conteinerLoading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.loading {
  margin-top: 6rem;
  margin-bottom: 10000px;
  width: 350px;
  height: 250px;
}

.conteinerDetail {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-content: normal;
  justify-content: normal;
  align-items: stretch;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 152, 155, 1) 0.1%,
    rgba(0, 94, 120, 1) 94.2%
  );
}

.titulopokemon {
  font-size: 1.4rem;
  margin: 1rem 0.6rem 0.9rem 1rem;
  color: #fad964;
}
.titulopokemon h1 {
  margin: 1rem;
}

.typeImg {
  margin-top: 2rem;
  height: 100px;
}

.titulopokemon p {
  color: #fdfbff;
  font-size: 0.9rem;
  margin-top: 1px;
  margin-left: 1rem;
}
.details {
  color: white;
  font-size: 1.7rem;
  margin-top: 4rem;
}
.typess {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.bar {
  color: black;
  font-size: 1.2rem;
  margin: 1rem;
}

.imagenPokemon {
  width: 300px;
  height: 20rem;
}
.imagenes {
  width: 40px;
  height: 30px;
}

.heightAndWeight {
  color: #ffffff;
}
.infoo {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.buttonDetail {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin-top: 0px;

  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  border: 2px solid black;
  border-radius: 10%;
  font-family: "Montserrat", sans-serif;
  color: white;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0px;

  font-size: 0.9em;
  font-weight: 500;
  box-shadow: 0 2px 8px -1px white;
  animation: showText 2s 1s linear forwards;
  transition: all 0.5s ease;
}
.buttonConteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-right: 2rem;
  width: 100%;
  height: 100px;
}
.buttonConteiner:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  color: #fad964;
  transform: translateY(-5px);
}
/* .progress {
  height: 20px;
  width: 100%;
  left: 0;
  background: #ffffff;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(240, 221, 11, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
} */

.progress-bar {
  display: flex;
  background-color: #000000;
  transform: scaleX(0);
  height: 25px;
  padding: 1px;
  width: 400px;

  margin: 50px 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar span {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  transform: scaleX(1);
  animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width 0.4s ease-in-out;
  background-color: #991a1a;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
/**** GRADIENTS ****/
.blue span {
  background-color: #34c2e3;
}
.red span {
  background-color: #d20d0d;
  background-image: linear-gradient(top, #fecf23, #fd9215);
}

.black span {
  background-color: #474545;
  background-image: linear-gradient(top, #fecf23, #fd9215);
}

.orange span {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916);
}

/**** STRIPES ****/
.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );

  animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}

/**** SHINE ****/
.shine span {
  position: relative;
}

.shine span::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;
}

@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 95%;
  }
}

/**** GLOW ****/
.glow span {
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
    0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  animation: animate-glow 1s ease-out infinite;
}

@keyframes animate-glow {
  0% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
      0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  }
  50% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3) inset,
      0 -5px 5px rgba(255, 255, 255, 0.3) inset;
  }
  100% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset,
      0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  }
}
@media (max-width: 948px) {
  .buttonDetail {
    width: 80px;
    height: 60px;
    border-radius: 10px;

    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
    border-radius: 10%;
    font-family: "Montserrat", sans-serif;
    color: white;

    margin-top: 4rem;
    margin-left: 2rem;

    font-size: 0.9em;
    font-weight: 500;
    box-shadow: 0 2px 8px -1px white;
    animation: showText 2s 1s linear forwards;
    transition: all 0.5s ease;
  }
}

@media (max-width: 477px) {
  .progress-bar {
    display: flex;
    background-color: #000000;
    transform: scaleX(0);
    height: 25px;
    padding: 5px;
    width: 200px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
}

@media (max-width: 352px) {
  .progress-bar {
    display: flex;
    background-color: #000000;
    transform: scaleX(0);
    height: 25px;
    padding: 5px;
    width: 200px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  .conteinerDetail {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: normal;
    align-items: stretch;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(0, 152, 155, 1) 0.1%,
      rgba(0, 94, 120, 1) 94.2%
    );
  }
  .titulopokemon {
    font-size: 1rem;

    color: #fad964;
  }

  .imagenPokemon {
    width: 250px;
    height: 17rem;
  }
}
