

.home{

    min-height: 100vh;
    background-size: 100% 100%;
}

.reload{
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
    border-radius: 10%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    padding: 10px;
    width:6em;
    margin-left: 70%;
    margin-top: 0px;
    margin-bottom: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    box-shadow: 0 2px 8px -1px white;
    animation: showText 1s 1s linear forwards;
    transition: all 0.5s ease;
}

.reload:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
 
    transform: translateY(-5px);
}
.pika{
    width: 3rem;
    border-radius: 100%;
}





.selects{
    display: flex;
    flex-wrap: wrap;
        justify-content:center;
    padding-top: 0px;
    margin: 1px 1px 1px 1px;
    font-family: 'Montserrat', sans-serif;
    
}

.selects select option{
  
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}



select {
    cursor: pointer;
    box-shadow: white;
    background: black;
    border: 2px solid black;
    width: 6%;
    height: 4%;
    font-size: 0.6em;
    padding-top: 1em;
    padding-right: 4rem;
    padding-bottom: 1em;
    padding-left: 0.2rem;
    margin: 0.8rem;
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 20px;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

select option{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.selects select:hover{
    box-shadow: 0 2px 8px -1px white;
}



/* Loading  */

.loading{
    position: absolute;
    width: 100%;
    max-height: 100vh;

    padding-top: 5%;
    
}

.loadingtext{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.notfound{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    max-width: 100vw;

    animation-duration: 450ms;
    animation-timing-function: cubic-bezier(0, 0.5, 0.25, 1.25);
    animation-fill-mode: both;
    animation-name: picImage;
}

.notfound span{
    margin-top: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    display: block;
    color: black;
    text-align: center;
    letter-spacing: 1px;
}


@keyframes picImage {
    from {
    opacity: 0;
    transform: scale(1.2) translateY(-1rem);
    }
    to {
    opacity: 1;
    transform: scale(1) translateY(0);
    }
}

