@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.card {
    position: relative;
    min-height: 14em;
    width: 90%;
    height: 100%;
    text-decoration: none;
    background-color:white;
    border: 2px solid black;
    border-radius: 1.5em;
    overflow: hidden;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2]  1fr[x3] 1fr[x4];
    grid-template-rows:[y0] 20px [y1] 160px [y2] 56px [y3] 20px [y4] 60px [y5] 1fr [y6] 20px [y7] 40px[y8];
    
    transition: all 0.4s ease;
}

.card:hover{
    transform: translateY(-15px);
    border: 2px solid #efff64;
} 

.name{
    grid-column: x0 / x4;
    grid-row: y2/y2;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bolder;
    color: black;
    padding-left: 5%;
    padding-top: 4%;
}

.img {
    display:block;
    margin:auto;
    grid-column: x0 / x4;
    grid-row: y0/y0;
    max-width: 320px;
    padding-top: 2%;
}  

.typetitle{
    grid-column: x0 / x4;
    grid-row: y3/y3;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: black;
    padding-top: 2%;
}

.types{
    grid-column: x0 / x4;
    grid-row: y4/y4;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.aboutitle{
    grid-column: x0 / x4;
    grid-row: y6/y8;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    background: black;
    text-decoration-line: underline;
}

.about{
    grid-column: x0 / x4;
    grid-row: y7/y7;
    display: flex;
    justify-content: center;
    color: white;
}

/* About - Stats */

.pokweight{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-left: 8%;
}

.weight{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.pokheight{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-left: 8%;
}

.height{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.card {
    position: relative;
    min-height: 14em;
    width: 90%;
    height: 100%;
    text-decoration: none;
    background-color:white;
    border: 2px solid black;
    border-radius: 1.5em;
    overflow: hidden;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2]  1fr[x3] 1fr[x4];
    grid-template-rows:[y0] 20px [y1] 160px [y2] 56px [y3] 20px [y4] 60px [y5] 1fr [y6] 20px [y7] 40px[y8];
    
    transition: all 0.4s ease;
}

.card:hover{
    transform: translateY(-15px);
    border: 2px solid #efff64;
} 

.name{
    grid-column: x0 / x4;
    grid-row: y2/y2;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bolder;
    color: black;
    padding-left: 5%;
    padding-top: 4%;
}

.img {
    display:block;
    margin:auto;
    grid-column: x0 / x4;
    grid-row: y0/y0;
    max-width: 320px;
    padding-top: 2%;
}  

.typetitle{
    grid-column: x0 / x4;
    grid-row: y3/y3;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: black;
    padding-top: 2%;
}

.types{
    grid-column: x0 / x4;
    grid-row: y4/y4;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.aboutitle{
    grid-column: x0 / x4;
    grid-row: y6/y8;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    background: black;
    text-decoration-line: underline;
}

.about{
    grid-column: x0 / x4;
    grid-row: y7/y7;
    display: flex;
    justify-content: center;
    color: white;
}

/* About - Stats */

.pokweight{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-left: 8%;
}

.weight{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.pokheight{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-left: 8%;
}

.height{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: black;
}
